* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(/img/wallpaper.gif);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);  
}

.saldo-d-container, .creditos-d-container {
    display: flex;
    margin: 80px auto;
    background-color: #ffffff;
    border-radius: 15px;
    width: 130vh;
    height: 40vh;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.overlay {
    background-image: url(/img/overlay11.jpg);
    background-size: cover;
    background-color: #254C3D;
    width: 40%;
    height: 100%;
}

.formulario{
    margin: 0 auto;
    width: 50%;
    height: 100%;
    text-align: center;
    display: block;
    padding-top: 30px;
}

.msg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.msg.hidden {
    opacity: 0;
    display: none;
}


.botao {
    color: white;
    background-color: rgb(0, 182, 45);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 30px;
    height: 50px;
    width: 200px;
}

.botao:hover {
    background-color: #347e34;
    transition: 1.5s;
}

section.tabela {
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    margin: 100px auto;
    width: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.estoque-table {
    width: 90%;
    border-collapse: collapse;
    border-radius: 20px;
    margin: 0 auto;
}

 
.estoque-table thead {
    height: 100px;
    color: #222222;
}


.estoque-table th, .estoque-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
} 

;.estoque-table td {
    font-weight: 900;
}

.estoque-table tbody tr:hover {
    background-color: #ddd;
}

#edit, #delet {
    color: white;
    height: 5vh;
    width: 15vh;
    margin: 10px 0 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#edit {
    
    background-color: #314bbe;
}

#delet {
    background-color: #aa1616;
}