/* Body */

* {
    font-family: 'Poppins', sans-serif;


}
body {
    background-image: url(/img/wallpaper.gif);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px); 
    
    
}
header {
    display: flex;
    width: 100%;
    height: 9vh;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 30vh;
    margin-bottom: 100vh;
}

.container-form {
    display: flex;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 15px;
    width: 130vh;
    height: 80vh;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 }

.overlay {
    background-image: url(/img/overlay.jpg);
    background-size: cover;
    width: 40%;
    height: 100%;
}



#logo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/* CONTROLE PAGE  */

.saldo-d-container, .creditos-d-container {
    display: flex;
    margin: 80px auto;
    background-color: #ffffff;
    border-radius: 15px;
    width: 130vh;
    height: 40vh;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.overlay-quadrado {
    background-image: url(/img/overlay11.jpg);
    background-size: cover;
    width: 40%;
    height: 100%;
}
#titulo-controle {
    font-size: 2.5vh;
    color: #527C49;
}
/* ESTILOS TABELAS  */


section.tabela {
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    margin: 100px auto 50vh;
    width: 85%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.estoque-table {
    width: 95%;
    border-collapse: collapse;
    border-radius: 20px;

    margin: 0 auto;
}

 
.estoque-table thead {
    height: 100px;
    color: #222222;
}


.estoque-table th, .estoque-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
} 

;.estoque-table td {
    font-weight: 900;
}


.estoque-table tbody tr:hover {
    background-color: #ddd;
}

#edit, #delet {
    color: white;
    height: 5vh;
    width: 15vh;
    margin: 10px 0 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#edit {
    
    background-color: #314bbe;
}

#delet {
    background-color: #aa1616;
}

#request{
    background-color: #d58a3e;
    color: white;
    height: 5vh;
    width: 20vh;
    border-radius: 10px;
    cursor: pointer;
}

#finished {
    background-color: #527C49;
    color: white;
    margin-right: -30px;
    height: 5vh;
    width: 18vh;
    border-radius: 10px;
    cursor: pointer;
}

.foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.7s; 
}
.foto:hover {
    transform: scale(2.5); 
}
.estoque-table tbody tr:hover {
    background-color: #ddd;
}


/* FOOTER */

footer {
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: white;
    align-items: center;
    justify-content: center;
}


::-webkit-scrollbar {
    width: 1px;
}

  