* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(/img/controle.jpeg);
    backdrop-filter: blur(15px);
    background-size: cover;
    background-attachment: fixed;
}
section.tabela {
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    margin: 100px auto;
    width: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.estoque-table {
    width: 90%;
    border-collapse: collapse;
    border-radius: 20px;
    margin: 0 auto;
}

 
.estoque-table thead {
    height: 100px;
    color: #222222;
}


.estoque-table th, .estoque-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
} 

;.estoque-table td {
    font-weight: 900;
}


.foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.7s; 
}
.foto:hover {
    transform: scale(2.5); 
}
.estoque-table tbody tr:hover {
    background-color: #ddd;
}