/* Flash Mensage */
.msg {
    background-color: #d4edda;
    color: #155724;
    border: 2px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.msg.hidden {
    opacity: 0;
    display: none;
}

.erro {
    background-color: #ecb0b0;
    color: #a12a2a;
    border-bottom: 1px solid #b37070;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.erro.hidden {
    opacity: 0;
    display: none;
}