
* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(/img/wallpaper.gif);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);  
}


/* Main Container */
.container-form {
    display: flex;
    margin: 80px auto;
    background-color: #ffffff;
    border-radius: 15px;
    width: 130vh;
    height: 76vh;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 }


/* Space Styles: "Overlay" */
.overlay {
    background-image: url(/img/overlay.jpg);
    background-size: cover;
    width: 40%;
    height: 100%;
}

#logo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}


/* Space Styles: "Formulario" */
.formulario{
    margin: 0 auto;
    width: 50%;
    height: 100%;
    text-align: center;
    display: block;
    padding-top: 30px;
}

#titulo {
    margin-bottom: 10px;
    color: #527C49;;
    font-size: 3.5vh;
    font-weight: 580;
}

input[type="file"] {
    display: none;
}


/* Space Styles: "Botões" */
.linha-botoes {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.botao, .botao-file {
    border-radius: 15px;
    color: #fff;
    background-color: #527C49;
    width: 18vh;
    height: 5.0vh;
}

.botao-file:hover {
    background-color: #d58a3e;
    transition: 0.5s;
}
.botao:hover {
    background-color: #314bbe;
    transition: 0.5s;

}