* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;



    backdrop-filter: blur(10px);
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-image: url(/img/wallpaper.gif);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -8px;
}

.logo {
    display: flex;
    align-items: center;
}
#titulo {
    color: #527C49;
    border-bottom: 3px solid #527C49;
}


.login-button, .register-button, .dashboard-button {
    background-color: #527C49;
    border-radius: 5px;
    border: none;
    height: 6vh;
    width: 15vh;
}
.login-button {
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2.0vh;
}